.mainContainer {
  /* width: 20vw; */
  /* height: 90vh; */
  position: relative;
  top: 40px;
  border: 1px solid black;
}

.searchSection {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  top: 80px;
  left: 40%;
}

.SearchBar {
  width: 50%;
  outline: none;
  border-radius: 0.6em;
  /* border: none; */
  padding: 1em;
}

.background {
  width: 100%;
  object-fit: contain;
}
